<!DOCTYPE html>
<html>
<head>
  <title>Ipadmagazine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="sidebar">
	<%= yield :sidebar %>
</div>

<div id="editor_canvas">
	<%= yield %>
</div>

<div class="toolbar">
	<%= link_to "Add Title", "#", :id => "add_title_button" %>
	<%= link_to "Add Text", "#", :id => "add_text_button" %>
</div>

</body>
</html>
